<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Your Account</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/"><b>Home</b></a>
                <a href="/orgChart" th:if="${!#strings.isEmpty(username)}"><b>Organization Chart</b></a>
                <a href="/gal" th:if="${!#strings.isEmpty(username)}"><b>Global Address List</b></a>
                <a href="/viewRequests" th:if="${!#strings.isEmpty(username)}"><b>My Time Off Requests</b></a>
                <a href="/viewMyPay" th:if="${!#strings.isEmpty(username)}"><b>My Pay</b></a>
                <a href="/calendar" th:if="${!#strings.isEmpty(username)}"><b>Calendar</b></a>
                <a href="/resources" th:if="${!#strings.isEmpty(username)}"><b>Resources</b></a>
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and (#strings.equals(role, 'ADMIN') or #strings.equals(#strings.substring(role, 0, 2), 'HR'))}"><b>HR/Payroll Menu</b></a>
                <a class="selected" href="/yourAccount" th:if="${!#strings.isEmpty(username)}"><b>Your Account</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <h1>Your Account</h1>
                <p style="color:green" th:if="${!#strings.isEmpty(success)}" th:text="${success}"></p>
                <p>Welcome to your account, <span th:text="${username}"></span>!</p>
                <p>
                    You may view and manage your account information or select to logout on this page.
                    On the user-side, you can edit your password, alternative email, phone number, work location.
                    If you require more advanced changes (such as username, job title), please contact your IT administrator.
                </p>
                <hr/>

                <h2>Your Information</h2>
                <p>Full Name: <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
                <p>Email: <span th:text="${user.email}"></span></p>
                <p>Alternate Email: <span th:text="${user.alternateEmail}"></span></p>
                <p>Phone Number: <span th:text="${user.phoneNum}"></span></p>
                <p>Job Title: <span th:text="${user.jobTitle}"></span></p>
                <p>Work Location: <span th:text="${user.workLocation}"></span></p>
                <p>Join Date: <span th:text="${user.joinDate}"></span></p>
                <p>Manager: <span th:text="${user.managedBy}"></span></p>
                <p>You have <span th:text="${user.entitledDays}"></span> days of time-off remaining.</p>
                <hr/>

                <h2>Options</h2>
                <a th:href="@{'/editAccount?id=' + ${user.id}}" ><button class="button buttonTheme">Edit Account</button></a><br/>
                <a href="/logout"><button class="button buttonTheme">Logout</button></a><br/>

            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>