<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Delete User</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/gal" th:if="${!#strings.isEmpty(username) and #strings.equals(role, 'ADMIN')}"><b>Back to GAL</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <h2>Delete User</h2>
                <a th:if="${#strings.equals(role, 'ADMIN')}" href="/gal"><button class="button buttonTheme">Return to GAL</button></a><br/>
                <p>Are you sure you want to delete user <span th:text="${user.username}"></span>?</p>

                <form th:action="@{'/adminDeleteUser?id=' + ${user.id}}" method="post" th:object="${user}" enctype="multipart/form-data">
                    <input type="submit" value="Delete User"/>
                </form>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>