<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>View App Elements</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and #strings.equals(role, 'ADMIN')}"><b>Back to HR/Payroll Menu</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <p style="color:green" th:if="${!#strings.isEmpty(success)}" th:text="${success}"></p>
                <div th:if="${!#lists.isEmpty(errors)}">
                    <p style="color:red;font-weight: bold;">ERRORS</p>
                    <ul style="list-style-position: inside;padding-left: 0;">
                        <li style="color:red" th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <div th:if="${#lists.size(elements) &gt; 0}">
                    <h2>App Elements</h2>
                    <a th:href="'/adminAppElements?page=' + ${prevPage} + '&search=' + ${searched}"><button class="button buttonTheme">View Previous Page</button></a>
                    <a th:href="'/adminAppElements?page=' + ${nextPage} + '&search=' + ${searched}"><button class="button buttonTheme">View Next Page</button></a>
                    <br/><br/>
                    
                    <p th:if="${totalPages &gt; 0}">You are viewing page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span></p>
                    <p th:if="${!#strings.isEmpty(searched)}"><span th:text="${totalCount}"></span> results for <span th:text="${searched}"></span></p>
                    <span>Search for elements: </span> 
                    <form th:action="@{/adminAppElements}" method="get">
                        <input type="text" name="search" id="search" placeholder="Search..."/>
                        <input type="image" th:src="@{/img/search.png}" alt="Search"/>
                    </form>

                    <hr/><br/>
                    <h2>App Elements</h2>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Content</th>
                            <th colspan="2">Actions</th>
                        </tr>
                        <tr th:each="element : ${elements}">
                            <td th:text="${element.id}"></td>
                            <td th:text="${element.description}"></td>
                            <td th:if="${!#strings.isEmpty(element.content)}" th:text="${element.content}"></td>
                            <td th:if="${!#strings.isEmpty(element.contentLink)}"><a th:text="${element.contentLink}" th:href="@{'/uploads/' + ${element.contentLink}}"></a></td>
                            <td th:if="${!#lists.isEmpty(element.contentList)}">
                                <ul th:each="content : ${element.contentList}" style="list-style-position: inside;">
                                    <li><a th:text="${content}" th:href="@{${content}}"></a></li>
                                </ul>
                            </td>

                            <td><a th:href="@{'/adminEditElement?id=' + ${element.id}}">Edit</a></td>
                            <td><a th:href="@{'/adminDeleteElement?id=' + ${element.id}}">Delete</a></td>
                        </tr>
                    </table>
                </div>

                <div th:unless="${#lists.size(elements) &gt; 0}">
                    <h2>App Elements</h2>
                    <p th:if="${!(baseCount &gt; 0)}">
                        No elements listed. It is highly suggested to set elements for <i><b>company</b></i>, <i><b>hrEmail</b></i>, <i><b>companyLogo</b></i>,
                        <i><b>orgChart</b></i>, and <i><b>resourceList</b></i>.
                    </p>
                    <p th:unless="${!(baseCount &gt; 0)}">No elements listed.</p>
                    <div th:if="${!#strings.isEmpty(searched)}">
                        <p><span th:text="${totalCount}"></span> results for <span th:text="${searched}"></span></p>
                        <span>Search for elements: </span> 
                        <form th:action="@{/adminAppElements}" method="get">
                            <input type="text" name="search" id="search" placeholder="Search..."/>
                            <input type="image" th:src="@{/img/search.png}" alt="Search"/>
                        </form>
                    </div>
                </div>

                <hr/>

                <h2>Add App Element</h2>
                <ul style="list-style-position: inside;">
                    <li>In order for users to fully see new app elements, changes in the application must be made.</li>
                    <li>While the base application has been assured to be working, please contact <a href="mailto:dennisdao2001@gmail.com">dennisdao2001@gmail.com</a> for any issues related to the base application.</li>
                    <li>Only one type of content will be allowed per element <b>(as text content, as text list, or as a file)</b></li>
                    <li>Ensure elements exist for <i><b>company</b></i>, <i><b>hrEmail</b></i>, <i><b>companyLogo</b></i>, <i><b>orgChart</b></i>, and <i><b>resourceList</b></i>.</li>
                    <ul>
                        <li><i><b>company</b></i> should be the company's name.</li>
                        <li><i><b>hrEmail</b></i> should be your HR's preferred email.</li>
                        <li><i><b>logo</b></i> should be an image file containg your company logo, preferably 108x60px. Note when adding that it may not appear immediately - refresh the page to fix this.</li>
                        <li><i><b>orgChart</b></i> should be your company's org chart as an image.</li>
                        <li><i><b>resourceList</b></i> should be a list of resources that can be formatted into a bullet point list for the Resources page.</li>
                    </ul>
                    <li>If inputting as a text list, please separate your arguments with a comma and no spaces in between (ie. [element1],[element2])</li>
                </ul>

                <form th:action="@{/adminNewElement}" method="post" th:object="${newElement}" enctype="multipart/form-data">
                    <label for="desc">*Description: </label><br/>
                    <input type="text" name="desc" th:field="*{description}" /><br/><br/>

                    <label for="list">Is Content List?</label><br/>
                    <input type="checkbox" name="list" /><br/><br/>

                    <label for="content">Content (as text)</label><br/>
                    <textarea name="content" rows="25" cols="50" wrap="hard" maxlength="255" style="font-family:Times New Roman, Times, serif; font-size: 12px; white-space: pre-wrap;">
    
                    </textarea><br/><br/>

                    <label for="contentLink">Content (as a pdf or image file): </label><br/>
                    <input type="file" name="file" accept=".pdf,image/*" ><br/><br/>

                    <input type="submit" value="Edit Element"/>
                </form>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>