<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Error</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <h1>Something went wrong, please refresh or try again later!</h1>
                <p><b>Click here to return to the homepage</b></p>

                <a href="/index"><button class="button buttonTheme">Return to Homepage</button></a><br/>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>