<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Edit Posting</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and (#strings.equals(role, 'ADMIN') or #strings.equals(#strings.substring(role, 0, 2), 'HR'))}"><b>Back to HR/Payroll Menu</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <div th:if="${!#lists.isEmpty(errors)}">
                    <p style="color:red;font-weight: bold;">ERRORS</p>
                    <ul style="list-style-position: inside;padding-left: 0;">
                        <li style="color:red" th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <h2>Edit Posting</h2>
                <a th:if="${#strings.equals(#strings.substring(role, 0, 2), 'HR') or #strings.equals(role, 'ADMIN')}" href="/hrViewJobs"><button class="button buttonTheme">Return to Jobs</button></a><br/>
                <p>NOTE: If you do not want to change the posting file, leave the field as is.</p>
                <form th:action="@{'/hrEditPosting?id=' + ${posting.id}}" method="post" th:object="${posting}" enctype="multipart/form-data">
                    <label for="position">*Position: </label><br/>
                    <input type="text" name="position" th:field="*{position}" /><br/><br/>
                    <label for="deadline">*Deadline: </label><br/>
                    <input type="date" name="deadline" th:field="*{deadline}" /><br/><br/>
                    <label for="file">*Posting File: </label><br/>
                    <input type="file" name="file" accept="application/pdf" ><br/><br/>

                    <input type="submit" value="Edit Posting"/>
                </form>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>