<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Edit Payroll Data</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and (#strings.equals(role, 'ADMIN') or #strings.equals(#strings.substring(role, 0, 2), 'HR'))}"><b>Back to HR/Payroll Menu</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <div th:if="${!#lists.isEmpty(errors)}">
                    <p style="color:red;font-weight: bold;">ERRORS</p>
                    <ul style="list-style-position: inside;padding-left: 0;">
                        <li style="color:red" th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <h2>Edit Payroll Statement</h2>
                <a th:if="${#strings.equals(role, 'HR_PAYROLL') or #strings.equals(role, 'ADMIN')}" href="/hrViewPayroll"><button class="button buttonTheme">Return to Pay Statements</button></a><br/>
                <p>NOTE: If you do not want to change the user or pay statement, leave the fields as is.</p>
                <form th:action="@{'/hrEditPayroll?id=' + ${payroll.id}}" method="post" th:object="${payroll}" enctype="multipart/form-data">
                    <label for="user">*User: </label><br/>
                    <select name="user" id="user">
                        <option value="" selected="selected" hidden="hidden">Select a user...</option>
                        <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                    </select><br/><br/>
                    <label for="startDate">*Start Date: </label><br/>
                    <input type="date" name="startDate" th:field="*{startDate}" /><br/><br/>
                    <label for="endDate">*End Date: </label><br/>
                    <input type="date" name="endDate" th:field="*{endDate}" /><br/><br/>
                    <label for="statement">*Pay Statement: </label><br/>
                    <input type="file" name="statement" accept="application/pdf" ><br/><br/>

                    <input type="submit" value="Edit Statement"/>
                </form>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>