<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>Edit Article</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:src="@{/img/defaultLogo.png}" alt="Default HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and (#strings.equals(role, 'ADMIN') or #strings.equals(#strings.substring(role, 0, 2), 'HR'))}"><b>Back to HR/Payroll Menu</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <div th:if="${!#lists.isEmpty(errors)}">
                    <p style="color:red;font-weight: bold;">ERRORS</p>
                    <ul style="list-style-position: inside;padding-left: 0;">
                        <li style="color:red" th:each="error : ${errors}" th:text="${error}"></li>
                    </ul>
                </div>

                <h2>Edit Article</h2>
                <a th:if="${#strings.equals(#strings.substring(role, 0, 2), 'HR') or #strings.equals(role, 'ADMIN')}" href="/hrViewNews"><button class="button buttonTheme">Return to News</button></a><br/>
                <p>NOTE: If you do not want to change the image, leave the field as is.</p>

                <form th:action="@{'/hrEditNews?id=' + ${article.id}}" method="post" th:object="${article}" enctype="multipart/form-data">
                    <label for="title">*Title: </label><br/>
                    <input type="text" name="title" th:field="*{title}" /><br/><br/>

                    <label for="content">*Content</label><br/>
                    <textarea name="content" rows="25" cols="50" wrap="hard" maxlength="255" th:field="*{content}" style="font-family:Times New Roman, Times, serif; font-size: 12px; white-space: pre-wrap;">
    
                    </textarea><br/><br/>

                    <label for="imageLocation">*Image (currently <span th:text="${article.imageLocation}"></span>): </label><br/>
                    <input type="file" name="image" accept="image/*" ><br/><br/>

                    <input type="submit" value="Edit Article"/>
                </form>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>