<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" media="all" th:href="@{/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <title>View Payroll Data</title>
    </head>

    <body>
        <header>
            <div>
                <a href="/index">
                    <img th:if="${!#strings.isEmpty(logo)}" th:src="@{'/img/' + ${logo}}" alt="HRIS logo" width="108px" height="60px"/>
                    <img th:unless="${!#strings.isEmpty(logo)}" th:src="@{/img/defaultLogo.png}" alt="HRIS logo" width="108px" height="60px"/>
                </a>
            </div>
            <div class="scrollmenu">
                <a href="/"><b>Home</b></a>
                <a href="/orgChart" th:if="${!#strings.isEmpty(username)}"><b>Organization Chart</b></a>
                <a href="/gal" th:if="${!#strings.isEmpty(username)}"><b>Global Address List</b></a>
                <a href="/viewRequests" th:if="${!#strings.isEmpty(username)}"><b>My Time Off Requests</b></a>
                <a class="selected" href="/viewMyPay" th:if="${!#strings.isEmpty(username)}"><b>My Pay</b></a>
                <a href="/calendar" th:if="${!#strings.isEmpty(username)}"><b>Calendar</b></a>
                <a href="/resources" th:if="${!#strings.isEmpty(username)}"><b>Resources</b></a>
                <a href="/hrMenu" th:if="${!#strings.isEmpty(username) and (#strings.equals(role, 'ADMIN') or #strings.equals(#strings.substring(role, 0, 2), 'HR'))}"><b>HR/Payroll Menu</b></a>
                <a href="/yourAccount" th:if="${!#strings.isEmpty(username)}"><b>Your Account</b></a>
                <a href="/logout" th:if="${!#strings.isEmpty(username)}"><b>Logout</b></a>
            </div>
        </header>

        <div id="page">
            <div style="text-align: center;">
                <h2>Your Pay Statements</h2>
                <div th:if="${totalPages} &gt; 0">
                    <a th:href="'/viewMyPay?page=' + ${prevPage} + '&search=' + ${searched}"><button class="button buttonTheme">View Previous Page</button></a>
                    <a th:href="'/viewMyPay?page=' + ${nextPage} + '&search=' + ${searched}"><button class="button buttonTheme">View Next Page</button></a>
                    <br/><br/>

                    <p>You are viewing page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span></p>
                    <p th:if="${!#strings.isEmpty(searched)}"><span th:text="${totalCount}"></span> results for <span th:text="${searched}"></span></p>
                    <span>Search for pay statements: </span> 
                    <form th:action="@{/viewMyPay}" method="get">
                        <input type="text" name="search" id="search" placeholder="Search..."/>
                        <input type="image" th:src="@{/img/search.png}" alt="Search"/>
                    </form>
                    <hr /><br/>

                    <table>
                        <tr>
                            <th>Statement</th>
                            <th colspan="2">Pay Period</th>
                        </tr>
                        <tr th:each="statement : ${statements}">
                            <td><a th:href="@{'/uploads/pay/' + ${statement.dataLocation}}" th:text="${statement.dataLocation}"></a></td>
                            <td th:text="${#strings.substring(statement.startDate, 0, 10)}"></td>
                            <td th:text="${#strings.substring(statement.endDate, 0, 10)}"></td>
                        </tr>
                    </table>
                </div>

                <div th:if="${(baseCount == 0)}">
                    <p>No pay statements found.</p>

                    <div th:if="${!#strings.isEmpty(searched)}">
                        <p><span th:text="${totalCount}"></span> results for <span th:text="${searched}"></span></p>
                        <span>Search for pay statements: </span> 
                        <form th:action="@{/viewMyPay}" method="get">
                            <input type="text" name="search" id="search" placeholder="Search..."/>
                            <input type="image" th:src="@{/img/search.png}" alt="Search"/>
                        </form>
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>

        <footer>
            &copy; <span th:text="${year}"></span> <span th:text="${company}">, All rights reserved.</span> <br/>
            Powered by Employee Wiki&trade; <br/>
            <a href="#top">Back to Top</a>
        </footer>
    </body>
</html>